
        /* Global Styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        header {
            background-color: #4CAF50;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #333;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 14px 20px;
            display: block;
        }
        nav a:hover {
            background-color: #575757;
        }
        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background-color: #fff;
        }
        .main-content p {
            max-width: 80%; /* Limit the width to 80% of the screen */
            margin: 0 auto; /* Horizontally center the paragraph */
            text-align: center; /* Center-align the text itself */
        }
        .profile-pic {
    	    border-radius: 50%;
    	    max-width: 300px; /* Increase this value to make the picture larger */
    	    width: 100%; /* Ensures responsiveness */
    	    margin-bottom: 20px;
	}
        .section-title {
            font-size: 2em;
            color: #4CAF50;
            margin-bottom: 10px;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }